/* ==========================================================================
	Main
	========================================================================== */

body {
	font-family: "proxima-nova", sans-serif;
	color: #444446;
	font-size: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444;
	padding: 0.3 0 0.8em;
	margin: 0;
	font-weight: 600;
}

h2 {
	margin-top: 25px;
	font-size: 2.2em;
}


#header {
	padding-top: 15px;
	background: #FF5947;
	text-align: center;
}

#logo-wrapper {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

#logo-background,
#logo {
	position: absolute;
	top: 0;
	left: 0;
}

#logo-background {
	/* gradient bg */
	background: #2ceaa8; /* Old browsers */
	background: -moz-linear-gradient(left,  #2ceaa8 0%, #c7ff30 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2ceaa8), color-stop(100%,#c7ff30)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #2ceaa8 0%,#c7ff30 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #2ceaa8 0%,#c7ff30 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #2ceaa8 0%,#c7ff30 100%); /* IE10+ */
	background: linear-gradient(to right,  #2ceaa8 0%,#c7ff30 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ceaa8', endColorstr='#c7ff30',GradientType=1 ); /* IE6-9 */
}

#logo {
	top: 14%;
	left: 14%;
}

.logo-size {
	width: 275px;
	height: 275px;
}

#title {
	padding: 0;
	margin: 0;
	font-size: 8em;
	font-weight: 900;
	color: #fdfdff;
	text-transform: uppercase;
}

#content {
	padding: 25px 0;
}

.inner-wrap {
	width: 700px;
	margin: 0 auto;
}

.circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}


/* Code highlighting
   ========================================================================== */

.highlight {
	padding: 0 15px;
	color: #333;
	background-color: #fafafa;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.highlight .nv {
	color: #FF5947;
}

.inline-highlight {
	display: inline-block;
	padding: 0 5px;
	font-family: monospace;
}


/* Animations
   ========================================================================== */

.spinning {
	animation-duration: 1s;
	animation-name: spin;
	animation-iteration-count: infinite;

	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
}

/* keyframes for animation;  simple 0 to 360 */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }	
	50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }	
	50% { -moz-transform: scale(1.2); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.2); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }	
	50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.pulsing {
	-webkit-animation-duration: 1.3s;
	-moz-animation-duration: 1.3s;
	-o-animation-duration: 1.3s;
	animation-duration: 1.3s;

	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
